@{
    ViewData["Title"] = "Coffe time!";
}

<h3>Enter desired workmate for coffee time:</h3>
<form asp-action="Find" method="post" enctype="multipart/form-data">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Find your coffee coleague by username:</label>
                <input name="username" type="email" class ="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Find" class="btn btn-primary" />
            </div>
</form>
