@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Report a problem</h3>
<form asp-action="ReportProblem" method="post" enctype="multipart/form-data">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Enter username of user to whom you want to report, and describe the error you found:</label>
                <input name="username" type="email" class ="form-control" />
            </div>
            <div class="form-group">
                <label>Error:</label>
                <input name="error" type="text" class ="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Report" class="btn btn-primary" />
            </div>
</form>
