@model ResearchHub.Models.Collaborations

@{
    ViewData["Title"] = "Edit";
}
<style>
    body{
        background-color: #d2f6f6;
    }
    div{
        background-color: #edfbfb;
    }
</style>
<h1>Edit</h1>

<h4>Collaborations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="collaboratorID" class="control-label"></label>
                <select asp-for="collaboratorID" class="form-control" asp-items="ViewBag.collaboratorID"></select>
                <span asp-validation-for="collaboratorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="collaborateeID" class="control-label"></label>
                <select asp-for="collaborateeID" class="form-control" asp-items="ViewBag.collaborateeID"></select>
                <span asp-validation-for="collaborateeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeRequestMade" class="control-label"></label>
                <input asp-for="timeRequestMade" class="form-control" />
                <span asp-validation-for="timeRequestMade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
