@model ResearchHub.Controllers.CollaborationsController.DummyInput

@{
    ViewData["Title"] = "Index";
}


<h3 class="alert-success">@Model.username</h3>
<h3>Enter desired workmate for collaboration:</h3>
<form asp-action="Create" method="post" enctype="multipart/form-data">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input name="myUsername" type="email" class ="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
</form>
