@model Tuple<List<Questions>, int, double>

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>
<form asp-action="CheckAnswers" enctype="multipart/form-data" style="justify-content: center">
    <input type="number" step="0.1" name=rating value="@Model.Item3" hidden/>    
    <input type="number" step="1" name=paperID value="@Model.Item2" hidden />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Answer
                </th>
                <th>
                    Questions
                </th>
            </tr>
        </thead>
        <tbody>

    @foreach (var item in Model.Item1) {
            <tr>
                <td>
                    <input type="checkbox" name="labeledQuestions" value="@item.question">
                </td>
                <td>
                    @item.question
                </td>
            </tr>
    }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
